body,
html {
    background-image: url(fundo.jpg);
}

#div1 {
    margin-left: 1%;
    margin-top: 1%;
}

#icone {
    color: antiquewhite;
    margin-left: 5%;
}

#div2 {
    margin-left: 3%;
}

#titulo {
    margin-left: 32%;
}

#menuDeGames {
    position: fixed;
    margin-top: 5%;
    width: 15%;
}

#central {
    color: antiquewhite
}

#botaodisable {
    background-color: black;
}

#imagem {
    margin-bottom: 5%;
}

#texto {
    margin-top: 5%;
    height: 1080px;
    color: antiquewhite;
}

#barraLateral {
    height: 1080px;
}

#top {
    height: 90px;
}