body,
html {
    background-image: url(fundo.jpg);
}

#icone {
    color: antiquewhite;
    margin-left: 7%;
    width: 10%;
}

#div2 {
    margin-left: 3%;
}

#titulo {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 40%;
    margin: auto;
    margin-top: 1%;
}

#menuDeGames {
    position: fixed;
    margin-top: 5%;
    width: 20%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 77%;
    margin: auto;
}

#central {
    color: antiquewhite
}

#botaodisable {
    background-color: black;
}

#texto {
    height: 1080px;
    color: antiquewhite;
    margin-top: 4%;
}

#divtexto {
    color: antiquewhite;
    margin-top: 5%;
}

#divtexto {
    color: antiquewhite;
    margin-top: 5%;
}

#barraLateral {
    height: 1080px;
}

#top {
    height: 90px;
    width: 100%;
}